<footer>
  <ul>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
    <li>ipsa assumenda aspernatur</li>
    <li>cum laudantium excepturi magnam</li>
  </ul>
  <ul>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
    <li>ipsa assumenda aspernatur</li>
    <li>cum laudantium excepturi magnam</li>
  </ul>
  <ul>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
    <li>ipsa assumenda aspernatur</li>
    <li>cum laudantium excepturi magnam</li>
  </ul>
  <ul>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
    <li>ipsa assumenda aspernatur</li>
    <li>cum laudantium excepturi magnam</li>
  </ul>
</footer>
