<header>
  <div class="left-side">
    <a (click)="onChangeRoute('')">
      <img src="../../../assets/img/logo.svg" />
    </a>
    <span>Talos technical test</span>
  </div>
  <div class="right-side">
    <a
      *ngIf="route !== '/posts' && route !== '/'"
      class="posts-link"
      (click)="onChangeRoute('posts')"
    >
      Posts
    </a>
    <a
      *ngIf="route !== '/new-post'"
      class="new-post-link"
      mat-stroked-button
      color="accent"
      (click)="onChangeRoute('new-post')"
      (mouseenter)="onMouseOver('Add new post')"
      (mouseleave)="onMouseOver('+')"
    >
      {{ newPostText }}
    </a>
  </div>
</header>
