<article class="post-container" *ngIf="post">
  <div class="top-content">
    <img
      *ngIf="post.photoUrl"
      src="{{ config.baseUrl }}{{ post.photoUrl }}"
      alt="{{ post.title }}"
    />
    <img
      class="no-image"
      *ngIf="!post.photoUrl"
      src="../../../assets/img/logo.svg"
      alt="logo"
    />
    <p>{{ post.description }}</p>
  </div>
  <div class="bottom-content">
    <div class="tags-container">
      <span class="tag" *ngFor="let tag of post.tags">
        <span>{{ tag }}</span>
        <span class="comma">,</span>
      </span>
    </div>
    <a
      class="view-link"
      mat-stroked-button
      color="accent"
      (click)="onChangeRoute('posts', post.id)"
    >
      View
    </a>
  </div>
</article>
