div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  padding: 16px;
  height: 100%;
}

span {
  font-size: 48px;
}
